<form [formGroup]="paymentForm" class="bg-white border rounded-lg shadow-md p-4 flex flex-col" (ngSubmit)="next()">
  <label i18n="@@step3Title" class="text-lg font-semibold">Dettagli di pagamento</label>

  <label i18n="@@step3CardName" class="text-sm font-medium mt-2" for="cardName">Nome della carta</label>
  <input i18n-placeholder="@@step3CardNamePlaceholder" type="text" formControlName="cardName" placeholder="Inserisci il nome della carta" (change)="setValidity()" id="cardName"/>
  <small i18n="@@step3InvalidCardName" class="text-red-600" *ngIf="paymentForm.get('cardName')?.touched && paymentForm.get('cardName')?.invalid">Il
    nome della carta è un campo obbligatorio e deve essere lungo almeno 4 caratteri.</small>

  <label i18n="@@step3CardNumber" class="text-sm font-medium mt-2" for="cardNumber">Numero della carta</label>
  <input i18n-placeholder="@@step3CardNumberPlaceholder" type="text" formControlName="cardNumber" placeholder="Inserisci il numero della carta" maxlength="16" (change)="setValidity()"/>
  <small i18n="@@step3InvalidCardNumber" class="text-red-600" *ngIf="paymentForm.get('cardNumber')?.touched && paymentForm.get('cardNumber')?.invalid">Il
    nome della carta è un campo obbligatorio e deve essere lungo esattamente 16 caratteri.</small>
  @if(!isDetail){
  <div class="flex gap-2 p-4">
    <button i18n="@@step3Back" class="mt-auto bg-blue-600 hover:bg-blue-700 text-white rounded transition-colors p-1"
      (click)="back()">Indietro</button>
    <button i18n="@@step3Next" type="submit" class="mt-auto bg-blue-600 hover:bg-blue-700 text-white rounded transition-colors p-1"
      [ngClass]="{'bg-gray-400 cursor-not-allowed':paymentForm.invalid}" [disabled]="paymentForm.invalid">Avanti</button>
  </div>
  }
</form>