.shopping-box-container {
  display: inline;
}
.shopping-box {
    position: relative;
    top: 15px;
    /* sotto la barra superiore */
    right: 150px;
    width: 350px;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
    padding: 10px;
    transition: fade-in 0.3s ease-in-out;
    border-radius: 4%;
}

.triangle-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    transition-delay: fade-in 0.3s ease-in-out;

}

.close-viewer-btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 10px;
}

.fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

.fade.show {
  opacity: 1;
  pointer-events: auto;
}