.cart-box-container {
  display: inline;
}
.cart-box {
    position: absolute;
    top: 80px;
    /* sotto la barra superiore */
    right: 20px;
    width: 300px;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
    padding: 10px;
    transition: fade-in 0.3s ease-in-out;
}

.triangle-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #fff;
    transition-delay: fade-in 0.3s ease-in-out;

}
.fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

.fade.show {
  opacity: 1;
  pointer-events: auto;
}