<div class="grid grid-cols-1 gap-6">
<form class="bg-white border rounded-lg shadow-md p-4 flex flex-col" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <label i18n="@@step1Title" class="text-lg font-semibold">Dettagli Cliente</label>
    <label i18n="@@step1SubTitle" class="text-sm text-gray-600 mb-4">Inserisci i tuoi dati per procedere con l'ordine.</label>

    <label i18n="@@step1Name"class="text-sm font-medium mt-2" for="nome">Nome</label>
    <input i18n-placeholder="@@step1NamePlaceholder" type="text" formControlName="nome" placeholder="Inserisci il nome" id="nome" (change)="setValidity()"/>
    <small i18n="@@step1InvalidName" class="text-red-600" *ngIf="customerForm.get('nome')?.touched && customerForm.get('nome')?.invalid">Il nome è un campo obbligatorio e deve essere lungo almeno 3 caratteri.</small>
    
    <label i18n="@@step1Surname" class="text-sm font-medium mt-2" for="cognome">Cognome</label>
    <input i18n-placeholder="@@step1SurnamePlaceholder" type="text" formControlName="cognome" placeholder="Inserisci il cognome" id="cognome" (change)="setValidity()"/>
    <small i18n="@@step1InvalidSurname" class="text-red-600" *ngIf="customerForm.get('cognome')?.touched && customerForm.get('cognome')?.invalid">Il cognome è un campo obbligatorio e deve essere lungo almeno 3 caratteri.</small>
    
    <label i18n="@@step1Email" class="text-sm font-medium mt-2" for="email">Email</label>
    <input i18n-placeholder="@@step1EmailPlaceholder" type="email" formControlName="email" placeholder="Inserisci l'email" id="email" (change)="setValidity()"/>
    <small i18n="@@step1InvalidEmail" class="text-red-600" *ngIf="customerForm.get('email')?.touched && customerForm.get('email')?.invalid">L'email è un campo obbligatorio e deve avere il formato corretto.</small>

    <label i18n="@@step1Address" class="text-sm font-medium mt-2" for="indirizzo">Indirizzo</label>
    <input i18n-placeholder="@@step1AddressPlaceholder" type="text" formControlName="indirizzo" placeholder="Es.Viale Europa 30 00100 RM" id="indirizzo" (change)="setValidity()"/>
    <small i18n="@@step1InvalidAddress" class="text-red-600" *ngIf="customerForm.get('indirizzo')?.touched && customerForm.get('indirizzo')?.invalid">L'indirizzo è un campo obbligatorio e deve essere lungo almeno 5 caratteri.</small>
    <div class="flex gap-2">
    @if(!isDetail){<button i18n="@@step1Continue" class="mt-2 bg-blue-600 hover:bg-blue-700 text-white rounded transition-colors p-1" type="submit" [ngClass]="{'bg-gray-400 cursor-not-allowed':customerForm.invalid}" [disabled]="customerForm.invalid">
        Continua
        </button>}
    </div>
</form>
</div>