<div *ngIf="cart$ | async as cart">
  <div *ngFor="let p of cart" class="cart-detail border rounded-lg p-4 mb-2 shadow">
    @if(isDetail){
      <img [src]="p.image" alt="{{ p.title }}" class="h-20 object-contain mb-4" />
    }
    {{ p.title }} - ${{ p.price }}
    @if(isDetail){
      {{'itemQuantity' | translate}}{{p.quantity }}
    }
    <button class="ml-2 bg-transparent-500 text-white px-2 py-1 rounded" (click)="remove(p.id)">
      <fa-icon style="color:#ff0000" [icon]="icons['remove']"></fa-icon>
    </button>
    <span class="product-counter">{{p.quantity}}</span>
    <button class="ml-2 bg-transparent-500 text-white px-2 py-1 rounded" (click)="add(p)">
    <fa-icon style="color:#008000" [icon]="icons['add']"></fa-icon>
    </button>
    <p>{{'partial' | translate}} ${{ p.price * p.quantity }}</p>
  </div>
  @if(!isDetail){
  <button [disabled]="cart.length === 0" [ngClass]="{'bg-red-500': cart.length > 0,
    'bg-gray-400 cursor-not-allowed': cart.length === 0}" class="mt-2 text-white px-4 py-2 rounded" (click)="clear()">
    {{'cartClear' | translate}}
  </button>
  }
  <div class="cart-total py-3">{{'total.value' | translate}} : ${{total$ | async}}  @if(isDetail && actualShippingCost() > 0){<small>{{'total.shippingCost' | translate:{'actualShippingCost': actualShippingCost() } }}</small>}</div>
  @if(!isDetail){
  <div class="mt-4">
    @if(cart.length > 0){
    <button [disabled]="cart.length === 0" class="text-white px-2 py-2 mt- rounded" [ngClass]="{'bg-green-500': cart.length > 0,
    'bg-gray-400 cursor-not-allowed': cart.length === 0}">
    <a [routerLink]="'checkout'">
      {{'goToCheckout' | translate}}</a>
    </button>
    }
  </div>
  }
</div>