.toast-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
    padding: 10px;
    transition: fade-in 0.3s ease-in-out;
    border-radius: 4%;
    font-weight: bold;
    font-size: 18px;
}
.fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

.fade.show {
  opacity: 1;
  pointer-events: auto;
}
.success-border{
    color: #008000;
    border-radius: 4%;
    border-color: #008000;
    box-shadow: #8282a3;
    border-style: dashed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    right: 38%;
    top: 50%;
}
.error-border{
    color: #ff0000;
    border-radius: 4%;
    border-color: #ff0000;
    box-shadow: #8282a3;
    border-style: dashed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    right: 38%;
    top: 50%;
}