<div class="bg-white border rounded-lg shadow-md p-4 flex flex-col gap-4">
    <label class="text-lg font-semibold mb-4">Riepilogo Ordine</label>
    <app-cart [isDetail]="true"></app-cart>
    <app-step1 [isDetail]="true"></app-step1>
    <app-step2 [isDetail]="true"></app-step2>
    <app-step3 [isDetail]="true"></app-step3>
    <div class="flex gap-2" *ngIf="cart$ | async as cart">
    @if(cart.length > 0){
    <button class="mt-2 bg-green-600 hover:bg-green-700 text-white rounded transition-colors p-2 mt-4" [ngClass]="{'bg-gray-400 cursor-not-allowed': checkInvalid()}" [disabled]="checkInvalid()" (click)="confirmOrder()">
        Conferma Ordine</button>
    <button class="mt-auto bg-gray-600 hover:bg-gray-700 text-white rounded transition-colors p-2 mt-2" (click)="back()">
        Indietro</button>
    } @else {
        <button class="mt-2 bg-green-600 hover:bg-green-700 text-white rounded transition-colors p-2 mt-4" (click)="reset()">
        Ritorna alla selezione dei prodotti</button>
    }
    </div>
</div>