<div class="bg-white border rounded-lg shadow-md p-4 flex flex-col">
  <div class="flex gap-2 p-4">
    <label>
      <input type="radio" name="ship" (change)="select('standard')" />
      Standard (€5)
    </label>

    <label>
      <input type="radio" name="ship" (change)="select('express')" />
      Express (€10)
    </label>
  </div>
  <div class="flex gap-2 p-4">
    <button class="mt-auto bg-blue-600 hover:bg-blue-700 text-white rounded transition-colors p-1"
      (click)="back()">Indietro</button>
    <button class="mt-auto bg-blue-600 hover:bg-blue-700 text-white rounded transition-colors p-1"
      [disabled]="!selected" (click)="next()">Avanti</button>
  </div>
</div>